.wrapper {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.field {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.btn {
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
    
.btn:hover {
    background-color: rgba(224, 62, 13, 0.612);
    color: #fff;
}

@media screen and (max-width: 480px) {
    .wrapper {
    font-size: 14px;
    grid-template-columns: 100px 1fr;
    margin-bottom: 5px;
    }
    
    .field {
    font-size: 14px;
    width: 60vw;
    }
}