.title {
    color: rgba(224, 62, 13, 0.612);
    margin-top: 20px;
}

.main_title {
    color: rgba(224, 62, 13, 0.612);
}

.container {
    padding: 20px;
    margin: 10px;
    width: 550px;
    outline: 2px solid rgb(61, 58, 58);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 3px;
        margin: 3px;
        width: 450px;
        outline: none;
    }
    .title {
        margin-top: 10px;
    }
}
